
<div class="form-group box-t ">
    <div class="row">
        <div class="col-md-6">
          <input #txtItem type="text" class="form-control" placeholder="Add Item">
        </div>
        <div class="col-md-6">  
          <button class="btn btn-success" (click)="addItem(txtItem.value)">ADD</button>
        </div>
   </div>
</div>
<div class="progressBar">
  <progress [value]="progress" max="30"></progress>
  <p>{{progress}}/30</p>
</div>
<ul class="list-group">
  <li class="list-group-item list-group-item-warning" *ngFor="let item of itens">{{item}} | <button class="btn btn-danger" (click)="deleteItem(itens.indexOf(item))">Excluir</button> | <button class="btn btn-warning" (click)="open(itens.indexOf(), item)">Editar</button></li>
</ul>

<!--<button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button>-->